<!-- your html code here -->
<div class="first-heading d-flex flex-row border-bottom border-top m-5 p-5 gap-3 ">
    <div class="text d-flex flex-column gap-3 w-75">
        <h2><strong>This First Heading </strong>  <span class="text-muted"> Will Catch your Eye</span></h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facilis voluptatem id? Dignissimos possimus odit aspernatur tempora repudiandae quasi, magnam soluta illo ab tempore accusamus minus quidem enim sequi nulla laboriosam corporis placeat aut expedita aperiam consequatur quo sunt aliquam? Veniam quibusdam officia praesentium commodi excepturi cumque repellat fuga soluta?</p>
    </div>
    <div class="img w-50 ">
        <img class="rounded-circle w-100 ratio ratio-1x1 object-fit-cover border" src="https://i.pinimg.com/originals/21/46/04/21460446a85bd4672903528b26ece41f.jpg" alt="">
    </div>
</div>