<div class="first-heading d-flex flex-row-reverse border-bottom  m-5 p-5 gap-3" style="font-family: 'Courier New', Courier, monospace;">
    <div class="text d-flex flex-column gap-3 w-75">
        <h2><strong>The Second Heading </strong>  <span class="text-muted"> Is Pretty Cool Too.</span></h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis possimus dolor repellendus. Voluptatibus voluptas laudantium consequatur. Commodi, possimus labore? Beatae quaerat, atque pariatur, quos veniam rem maxime nobis quasi nostrum ab voluptates reprehenderit repellat. Debitis, esse doloremque voluptatibus rem aspernatur in dignissimos nostrum necessitatibus? Esse nulla nobis itaque eaque nostrum.</p>
    </div>
    <div class="img w-50">
        <img class="rounded-circle w-100 ratio ratio-1x1 bg-white" src="https://static.wikia.nocookie.net/featteca/images/9/98/Shrek.png/revision/latest/smart/width/250/height/250?cb=20220713043820&path-prefix=es" alt="">
    </div>
</div>