<div class="carousel-container position-relative">

  <div class="position-absolute top-50 start-50 translate-middle text-center z-3 w-100 mw-75  mx-auto ps-5 pe-5">
  <h1 class="mb-2 display-3 fw-bold text-dark bg-white rounded bg-opacity-50 w-100 " ><b>One Page Wonder</b></h1>
  <p class="mb-0 display-6 fw-bold text-dark bg-white rounded bg-opacity-50 w-100"><b>Will Knock Your Socks Off</b></p>
</div>

  <!-- Carousel -->
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="https://picsum.photos/1600/500?random=1" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://picsum.photos/1600/500?random=2" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://picsum.photos/1600/500?random=3" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>

